@import "tailwindcss";

@layer components {
    .button-submit {
       @apply text-[clamp(1rem,1vw,2rem)] cursor-pointer shadow-lg rounded-md text-white font-bold py-2 px-4 bg-emerald-500 hover:bg-emerald-400 active:bg-emerald-700;
    }
    .input-text {
        @apply text-white text-[clamp(1rem,1vw,2rem)] cursor-pointer py-2 px-4 my-2 max-w-full rounded-md bg-emerald-900 hover:bg-emerald-800 active:bg-emerald-900;
    }
}