@import "tailwindcss";

@layer components {
    .button-submit {
       @apply select-none text-[clamp(1rem,1vw,2rem)] cursor-pointer shadow-lg rounded-md text-white font-bold py-2 px-4 bg-emerald-500 hover:bg-emerald-400 active:bg-emerald-700;
    }
    .input-text {
        @apply file:text-white file:py-2 file:px-4 file:mr-2 file:h-full file:bg-emerald-900 hover:file:bg-emerald-800 active:file:bg-emerald-900
        border-[1.5px] pr-2 border-emerald-900 hover:border-emerald-800 active:border-emerald-900 text-[clamp(1rem,1vw,2rem)] cursor-pointer my-2 max-w-full rounded-md;
    }
    .page {
        @apply max-w-189 w-[90vw] sm:w-[65vw] p-[clamp(1rem,5vw,4rem)] pt-[clamp(2rem,5vw,4rem)] text-[clamp(1rem,1vw,2rem)] bg-white shadow-lg border border-gray-300;
    }
    .dialog-text {
        @apply border rounded-md px-[clamp(0.5rem,0.5vw,2rem)] py-[clamp(0.25rem,0.25vw,0.5rem)] h-fit bg-white shadow-lg border-gray-300;
    }
}

dialog {
  display: none;
}
dialog[open] {
  display: flex;
}

#dialog-box::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}