<nav class="navBar z-99">
    <div class="flex flex-col md:flex-row select-none h-[10vh] gap-[1vw]"> 
        <h1 class="text-emerald-500 hover:text-emerald-400 active:text-emerald-700 cursor-pointer text-nowrap">Happy Birthday Dad!</h1>
        <div class="flex gap-[2vw] md:gap-[1vw] justify-around">
            <img src="static/bdayPhotos/dadHead.png" class="h-auto w-[20vw] md:w-auto md:h-full -rotate-z-25  hover:rotate-z-25">
            <img src="static/bdayPhotos/myHead.png"  class="h-auto w-[20vw] md:w-auto md:h-full rotate-z-25 hover:-rotate-z-25">
        </div>
    </div>
</nav>