<nav class="navBar z-99">
    <div class="flex justify-center flex-1 sm:flex-0">
        <a style="all:unset" href="{{ url_for('init_page') }}">
            <div class="button-submit sm:px-4 max-w-[154.52px] sm:max-w-full text-[clamp(0.85rem,1vw,2rem)] text-nowrap flex justify-center">Back to template hub
            </div>
        </a>
    </div>
    <div class="
    select-none 
    justify-center flex flex-1
    sm:absolute top-1/2 left-1/2 transform sm:-translate-x-1/2 sm:-translate-y-1/2 
    ">
        <h1 class="">DOC</h1>
        <a style="all:unset" href="{{ url_for('init_page') }}">
            <h1 class="text-emerald-500 hover:text-emerald-400 active:text-emerald-700 cursor-pointer">EDIT</h1>
        </a>
    </div>
</nav>