<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>Create Template</title>
</head>
<body class="bg-orange-50">
    <div class="px-[10vw] py-[10vh]">
        <div name="form-container">
            <form enctype="multipart/form-data" action="" method="post">
                <div class="flex flex-col gap-1">
                    <div>
                        <p class="font-bold">Upload
                            {% for extension in allowed_extensions %}
                            <span>.{{extension}} ||</span>
                            {% endfor %}
                            <small class="font-normal">TODO: other filetypes</small>
                        </p>
                    </div>
                    <div>
                        <input 
                        class="input-text
                        
                        "  
                        type="file" id="file-button" name="file" required
                        {% if allowed_extensions%} 
                        accept="
                        {% for extension in allowed_extensions %}
                        .{{extension}}, 
                        {% endfor %}
                        "
                         {% endif %}
                        >
                        <input class="button-submit" type="submit" value="Upload">
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li class="text-red-600">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>

        <br>

        {% if text %}
        <div class="flex flex-col items-center" name="editor">
            <div class="flex flex-col gap-1 text-center">
                <h3 class="font-bold">Select text to add to template</h3>
                <p class="italic">Note: Replacement calculations are run per paragraph in the backend, so multi-paragraph spanning selections will not render in the final template</p>
                <small>I'll code either support, or guardrails, when I can be bothered/have time, maybe never - so don't hold your breath</small>
            </div>
            <br><br>
            <div class="flex justify-center relative" name="page-container">
                {% if fileName %}<div class="dialog-text absolute -translate-y-[50%]"><p>{{fileName}}</p></div>{% endif %}
                <div class="page"
                name="page" id="page">
                    {% for paragraph in text %}
                    <div class="paragraph" data-index="{{ loop.index0 }}">{{paragraph}}</div>
                    <br>               
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <div class="self-start w-full">
                <h3 class="font-bold">Selected edit fields</h3>
                <br>
                <form class="w-full" method="post" id="edit-form">
                    <div class="flex flex-col gap-4">
                        <div id="edit-selections" class="flex flex-col gap-2 sm:grid sm:grid-cols-2"></div>
                        <input type="hidden" name="selections" id="selections-input">
                        <button class="button-submit self-end" type="submit" value="Submit">Submit</button>

                    </div>
                </div>
            </form>
            <br>
            <div class="self-end w-fit h-fit            
            ">
            </div>
        </div>
        {% endif %}
    </div>
    
    <dialog id= dialog-box closedby= any  
    class="
    border flex 
    rounded-md 
    mr-[8vw]
    p-[clamp(1rem,1vw,4rem)] 
    text-[clamp(1rem,1vw,2rem)] 
    bg-white shadow-lg border-gray-300
    "
    >
        <form method="dialog">
            <div class="flex flex-col gap-1 sm:divide-y-2 divide-gray-300">
                <div class="flex flex-wrap whitespace-pre-wrap pb-2 items-center">
                    <p>Make: </p>
                    <span id="dialog-text" class="dialog-text italic"></span>
                    <p> a field?</p>
                </div>
                <div class="flex gap-2 mt-2">
                    <input class="indent-[5%]" required placeholder="Enter field placeholder" name="pHolder" id="placeholderInputField">
                    <button id="dialog-button" class="button-submit self-end sm:self-center whitespace-pre h-fit outline-none" value="default">Do it</button>
                </div>
            </div>            
        </form>
    </dialog>

    <template id="selection-template">
        <div class="selection-field">
            <div class="p-[clamp(1rem,1vw,2rem)]  border rounded-md bg-white shadow-lg border-gray-300 flex flex-col">
                <div class="flex">
                    <h5 class="pHolderText
                    font-bold
                    indent-[clamp(2rem,2vw,4rem)]
                    flex-1
                    ">
                    </h5>
                    <div
                        class="cancel-button
                        select-none text-red-400 hover:text-red-500 
                        cursor-pointer 
                        w-[clamp(1rem,1vw,2rem)] text-[clamp(1rem,1vw,2rem)] 
                        grid place-items-center
                        " 
                        style="aspect-ratio: 1 / 1;">
                        ✘
                    </div>
                </div>
                <p class="currentDataText
                px-[clamp(2rem,2vw,4rem)] py-[clamp(1rem,1vw,2rem)] text-[clamp(1rem,1vw,2rem)]
                "></p>
            </div>
        </div>
    </template>

<script>
    let mouseInPage;
    let selected;
    let currentData = {};

    // This is the return array
    const selections = [];
    /*
    selections data-shape:
    {
        id: crypto.randomUUID(),
        text: selection.toString(),
        range: {
            startOffset: range.startOffset,
            endOffset: range.endOffset,
            paragraphIndex: {
                        startContainer: range.startContainer.parentElement.dataset.index,
                        endContainer:   range.endContainer.parentElement.dataset.index
                    }
        }
        placeholder: pIField.value
    }
    */
    
    const page            = document.getElementById("page");
    const editSelections  = document.getElementById("edit-selections");
    const dialogBox       = document.getElementById("dialog-box");
    const dialogButton    = document.getElementById("dialog-button");
    const dialogText      = document.getElementById("dialog-text");
    const pIField         = document.getElementById("placeholderInputField");
    const editForm        = document.getElementById("edit-form");
    const selectionsInput = document.getElementById("selections-input");

    const tpl = document.getElementById("selection-template");
    
    dialogBox.onsubmit = () => {
        if (Object.keys(currentData).length !== 0) {
            // Get text selection length for better placeholder look (-4 for the $$ bookends)
            // const textLen = (currentData.text.length) - 4;
            // const halfLen = Math.floor(textLen / 2);
            // currentData.placeholder = `$$${'_'.repeat(halfLen)}${pIField.value}${'_'.repeat(halfLen)}$$`;
            currentData.placeholder = ` [--${pIField.value}--] `;
            selections.push(currentData);

            // Clone template and change fields, I just did this for readability
            const node = tpl.content.cloneNode(true);

            node.querySelector(".pHolderText").textContent = pIField.value;
            node.querySelector(".currentDataText").textContent = currentData.text;

            // Save the id of currentData here so it can be targeted by the cancel button later
            const sKey = currentData.id;
            const closeButt = node.querySelector(".cancel-button");

            closeButt.addEventListener("click", () => {
                for (let i = 0; i < selections.length; ++i) {
                    if (selections.at(i).id === sKey) {
                        selections.splice(i, 1);
                        closeButt.closest(".selection-field")?.remove();
                    }
                }
            });

        editSelections.append(node);
        }
        // console.log(selections);
        pIField.value = '';
        currentData = {};
        dialogBox.close();        
    }

    if (page) {
        page.addEventListener("mouseenter", () => {
            mouseInPage = true;
        });
        page.addEventListener("mouseleave", () => {
            mouseInPage = false;
        });
        editForm.addEventListener("submit", () => {
            selectionsInput.value = JSON.stringify(selections);
        });
    }



    document.addEventListener("mouseup", () => {
        if (mouseInPage) {
            selected = window.getSelection();
            // If there's no range return
            if (!selected.rangeCount) {
                return;
            } 
            const range = selected.getRangeAt(0);

             if (!page.contains(range.startContainer) || !page.contains(range.endContainer)) {
                selected.removeAllRanges();
                return;
            }
            
            // If it's just whitespace return
            const selectedText = selected.toString().trim();
            if (!selectedText) return;


            // console.log("\"",selectedText,"\"");
            // console.log("range: ", range);
            // console.log("paragraph index: ", range.commonAncestorContainer.parentElement.dataset.index);

            const selectionOffsets = getSelectionOffsets(range.startContainer.textContent, selectedText); 
            // console.log(selectionOffsets);

            currentData = {
                id:                 crypto.randomUUID(),
                text:               selectedText,
                range: {
                    startOffset:    range.startOffset,
                    endOffset:      range.endOffset,
                    paragraphIndex: {
                        startContainer: range.startContainer.parentElement.dataset.index,
                        endContainer:   range.endContainer.parentElement.dataset.index
                    }
                },
                sOffsets: selectionOffsets
            }

            const rangeBounding = range.getBoundingClientRect();
            dialogBox.style.top  = `${rangeBounding.bottom + window.scrollY}px`;
            dialogBox.style.left = `${rangeBounding.left + window.scrollX}px`;
            dialogText.textContent = selectedText;
            dialogBox.show();           
        }
    });

    // This just counts ONLY non-whitespace char to get selections starting offset in paragraph
    function getSelectionOffsets(paragraphText, selectedText) {
        let normText = paragraphText.replace(/\s/g, '');
        let normSel = selectedText.replace(/\s/g, '');

        // Find the start index in non-whitespace terms
        let counter = 0;
        let startOffset = -1;

        for (let i = 0; i < paragraphText.length; i++) {
            if (!/\s/.test(paragraphText[i])) {
                if (normText.slice(counter, counter + normSel.length) === normSel && startOffset === -1) {
                    startOffset = counter;
                }
                counter++;
            }
        }

        const endOffset = startOffset + normSel.length;
        return { start: startOffset, end: endOffset };
    }
    
</script>
    
</body>
</html>