<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./static/output.css" rel="stylesheet">
        <title>DOCEDIT | Create Template</title>
    </head>
    <body class="bg-orange-50">
        <nav class="navBar z-99">
            <a style="all:unset" href="{{ url_for('init_page') }}">
                <div class="button-submit w-fit">
                    Back to template hub
                </div>
            </a>
        </nav>
        <div class="px-[10vw] py-[10vh]">
            <div class="flex flex-col gap-1 text-start">
                <h3 class="font-bold">Alter text via fields</h3>
                <p class="italic">Change field content here to replace text in the final downloadable pdf</p>
                <small>Beans</small>
            </div>
            <br><br>
        <form class="w-full" method="post" id="download-form">
            <input type="hidden" name="action" value="download">
            <div class="flex flex-col gap-4">
                {% if fields %}
                <div class="flex flex-col gap-4 items-start justify-start">
                {% for field in fields %}
                    <div class="grid grid-cols-2 gap-2">
                        <label class="px-[clamp(0.5rem,0.5vw,2rem)] py-[clamp(0.25rem,0.25vw,0.5rem)] h-fit text-end" for="{{field}}">{{field}}</label>
                        <input name="{{field}}" class="dialog-text" placeholder="{{field}}">
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                <button class="button-submit self-end" type="submit" value="Submit">Download PDF</button>
            </div>
        </form>
        <br>
        
        {% if text %}
        <div class="flex flex-col items-center" name="editor">
            <div class="flex justify-center relative" name="page-container">
                {% if fileName %}<div class="dialog-text absolute -translate-y-[50%]"><p>{{fileName}}</p></div>{% endif %}
                <div class="page"
                name="page" id="page">
                    {% for paragraph in text %}
                    <div class="paragraph" data-index="{{ loop.index0 }}">{{paragraph}}</div>
                    <br>               
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
        {% endif %}
    </div>
    
</body>
</html>