<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>Select Word Fields</title>
</head>
<body class="bg-orange-50">
    <div class="px-[10vw] py-[10vh]">
        <div name="form-container">
            <form enctype="multipart/form-data" action="" method="post">
                <div class="flex flex-col gap-1">
                    <label for="file"><span class="font-bold">Upload .docx</span></label>
                    <div>
                        <input class="input-text" type="file" id="file" name="file">
                        <input class="button-submit" type="submit" value="Upload">
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li class="text-red-600">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>

        <br>

        {% if text %}
        <div class="flex flex-col items-center" name="editor">
            <h3 class="font-bold">SELECT WORDS TO CHANGE</h3>
            <br>
            <div class="flex justify-center" name="page-container">
                <div class="
                max-w-189 w-[90vw] sm:w-[65vw] p-[clamp(1rem,5vw,4rem)] text-[clamp(1rem,1vw,2rem)]
                bg-white shadow-lg border border-gray-300 
                "
                name="page" id="page">
                    {% for paragraph in text %}
                    <div class="paragraph" data-index="{{ loop.index0 }}">{{paragraph}}</div>
                    <br>               
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <div class="self-start">
                <h3 class="font-bold">Selected edit fields</h3>
                <br>
                <div id="edit-selections" class="flex flex-col gap-2 sm:grid sm:grid-cols-2"></div>
            </div>
            <br>
            <div class="self-end w-fit h-fit            
            ">
                <form class="" method="post" id="edit-form">
                    <input type="hidden" name="selections" id="selections-input">
                    <input class="button-submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    
    <dialog id= dialog-box closedby= any  
    class="
    border flex 
    rounded-md 
    mr-[8vw]
    p-[clamp(1rem,1vw,4rem)] 
    text-[clamp(1rem,1vw,2rem)] 
    bg-white shadow-lg border-gray-300
    "
    >
       <div class="flex flex-col sm:flex-row gap-1 sm:divide-x-2 divide-gray-300">
           <div class="flex flex-wrap whitespace-pre-wrap pr-2 items-center">
               <p>Make: </p>
               <span id="dialog-text" class="dialog-text italic"></span>
               <p> a field?</p>
           </div>
           <button id="dialog-button" class="button-submit self-end sm:self-center ml-2 whitespace-pre h-fit outline-none">Do it</button>
       </div>
    </dialog>

<script>
    let mouseInPage;
    let selected;
    let currentData = {};
    // This is the return array
    const selections = [];

    /*
    selections data-shape:
    {
        id: crypto.randomUUID(),
        text: selection.toString(),
        range: {
            startOffset: range.startOffset,
            endOffset: range.endOffset,
            paragraphIndex: {
                        startContainer: range.startContainer.parentElement.dataset.index,
                        endContainer:   range.endContainer.parentElement.dataset.index
                    }
        }
    }
    */
    
    const page            = document.getElementById("page");
    const editSelections  = document.getElementById("edit-selections");
    const dialogBox       = document.getElementById("dialog-box");
    const dialogButton    = document.getElementById("dialog-button");
    const dialogText      = document.getElementById("dialog-text");
    const editForm        = document.getElementById("edit-form");
    const selectionsInput = document.getElementById("selections-input");
    
    dialogButton.onclick = () => {
        if (Object.keys(currentData).length !== 0) {
            selections.push(currentData);
             // Make form display element
             const cList = [
                "border", 
                "rounded-md",
                "p-[clamp(2rem,2vw,4rem)]",
                "text-[clamp(1rem,1vw,2rem)]", 
                "bg-white",
                "shadow-lg",
                "border-gray-300"
            ];

            const closeButt = document.createElement("div");
            closeButt.classList.add("select-none","absolute","top-[1vw]","right-[1vw]","text-red-400","hover:text-red-500","cursor-pointer","w-[clamp(1rem,1vw,2rem)]","text-[clamp(1rem,1vw,2rem)]","grid","place-items-center");
            closeButt.style.aspectRatio = "1/1";
            closeButt.textContent = '✘';
            const sKey = currentData.id;
            closeButt.addEventListener("click", () => {
                for (let i = 0; i < selections.length; ++i) {
                    if (selections.at(i).id === sKey) {
                        selections.splice(i, 1);
                        closeButt.closest(".selection-field")?.remove();
                    }
                }                    
            });

            const fieldText = document.createElement("p");
            fieldText.textContent = currentData.text;
            fieldText.classList.add(...cList);

            const field = document.createElement("div");
            field.classList.add("selection-field","relative");
            field.append(fieldText);
            field.append(closeButt);
            editSelections.append(field);
        }
        currentData = {};
        dialogBox.close();        
    }

    if (page) {
        page.addEventListener("mouseenter", () => {
            mouseInPage = true;
        });
        page.addEventListener("mouseleave", () => {
            mouseInPage = false;
        });
    }


    editForm.addEventListener("submit", () => {
        selectionsInput.value = JSON.stringify(selections);
    });

    document.addEventListener("mouseup", () => {
        if (mouseInPage) {
            selected = window.getSelection();
            // If there's no range return
            if (!selected.rangeCount) {
                return;
            } 
            const range = selected.getRangeAt(0);

             if (!page.contains(range.startContainer) || !page.contains(range.endContainer)) {
                selected.removeAllRanges();
                return;
            }
            
            // If it's just whitespace return
            const selectedText = selected.toString().trim();
            if (!selectedText) return;


            // console.log("\"",selectedText,"\"");
            // console.log("range: ", range);
            // console.log("paragraph index: ", range.commonAncestorContainer.parentElement.dataset.index);

            currentData = {
                id:                 crypto.randomUUID(),
                text:               selectedText,
                range: {
                    startOffset:    range.startOffset,
                    endOffset:      range.endOffset,
                    paragraphIndex: {
                        startContainer: range.startContainer.parentElement.dataset.index,
                        endContainer:   range.endContainer.parentElement.dataset.index
                    }
                }
            }

            const rangeBounding = range.getBoundingClientRect();
            dialogBox.style.top  = `${rangeBounding.bottom + window.scrollY}px`;
            dialogBox.style.left = `${rangeBounding.left + window.scrollX}px`;
            // dialogBox.style.top = `${Math.min(Math.max((rangeBounding.bottom + window.scrollY), 0), window.innerWidth - dialogBounding.width)}px`;
            dialogText.textContent = selectedText;
            dialogBox.show();           
        }
    });
    
</script>
    
</body>
</html>