<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>DOCEDIT | Create Template</title>
</head>
<body class="bg-orange-50">
    {% include '_bdayBanner.html' %}
    <div id="container" class="hidden absolute w-screen h-screen z-100"></div>
    <div class="px-[10vw] py-[10vh]">
        <div class="text-lg font-bold">Cheers for all the good times</div>
        <br>
        <div class="gap-[1vw] grid grid-cols-2 grid-rows-5 md:grid-cols-5 md:grid-rows-2" name="page" id="page">
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/889.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/892.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/898.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/902.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/903.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/904.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/905.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/906.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/907.jpg"></div>
            <div tabindex="0" class="group border flex items-center justify-center hover:ring-2 ring-emerald-500 hover:scale-125 focus:scale-100 focus:mx-auto focus:mt-[10vh] focus:absolute inset-10 focus:w-fit shadow-sm focus:h-fit shadow-black focus:shadow-md focus:ring-0" onclick="this.focus()"><img class="bdayImage w-full h-full group-focus:object-contain object-cover" src="static/bdayPhotos/908.jpg"></div>
        </div>
    </div>
<script>
    // const container = document.getElementById('container');
    // const images = Array.from(document.querySelectorAll('.bdayImage'));
    // images.forEach(img => {
    //     img.addEventListener("mouseenter", () => {
    //         img.style.position = "absolute";
    //         img.classList.remove('object-cover');
    //         img.classList.add('object-contain');
    //     });
        
    //     img.addEventListener("mouseleave", () => {
    //         img.style.position = "static";
    //         img.classList.remove('object-contain');
    //         img.classList.add('object-cover');
    //     });
    // });

</script>
    
</body>
</html>