<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>DOCEDIT | Template Hub</title>
</head>
<body class="bg-orange-50">
      <!-- <div class="absolute h-[200vh] z-100 inset-y-0 left-1/2 -translate-x-1/2 w-0.5 bg-gradient-to-b  from-blue-500 to-purple-500"></div> -->
    {% include '_nav.html' %}
    <div class="px-[10vw] py-[10vh]">
        <div class="flex flex-col items-center">
            <div name="template_chooser" class="page border mb-[10vh] max-w-[90vw] sm:w-[90vw] md:w-[75vw] lg:w-[65vw]">
                <div class="flex flex-col gap-1 ">
                    <h3 class="font-bold">Choose template</h3>
                    <p class="italic">This is the template, with fields included, that you'll edit and download copies of</p>
                    <small>If there are no templates available create a new one by following the link below</small>
                </div>
                <br>
                <div name="form-container">
            <form enctype="multipart/form-data" method="post">
                <input type="hidden" name="action" value="upload">
                <div class="flex flex-col gap-1">
                    <div>
                        <p class="font-bold">Upload
                            {% for extension in allowed_extensions %}
                            <span>.{{extension}}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div>
                        <input 
                        class="input-text bg-white
                        "  
                        type="file" id="file-button" name="file" required
                        {% if allowed_extensions%} 
                        accept="
                        {% for extension in allowed_extensions %}
                        .{{extension}}, 
                        {% endfor %}
                        "
                         {% endif %}
                        >
                        <input class="button-submit" type="submit" value="Upload">
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li class="text-red-600">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
                <br>
                <form method="post" id="doc-select" class="flex flex-col sm:grid grid-cols-2 gap-[clamp(1rem,1vw,2rem)] w-fit">
                    <input type="hidden" name="action" value="docSelect">
                    <input type="hidden" name="docSelect" id="docSelectInput">
                    {% if fNames %}
                        {% for filename in fNames %}
                            <button type="submit" 
                            class="doc hover:ring-2 select-none text-[clamp(1rem,1vw,2rem)] cursor-pointer rounded-md py-2 px-4
                            ring-emerald-500 hover:ring-emerald-400 active:ring-emerald-700"
                            data-filename="{{ filename }}">
                            <div class="overflow-hidden">
                                <img class="h-[clamp(3rem,5vw,5rem)]" src="../static/res/docx_icon.png">
                                <p class="w-fit text-start text-[clamp(1rem,1vw,2rem)]">{{filename}}</p>
                            </div>
                            </button>
                        {% endfor %}
                    {% endif %}
                    </div>
                </form>
            </div>
            <br><br>
            <a style="all:unset" href="{{ url_for('create_template_page') }}">
                <div class="button-submit">
                    <h3>Create new template</h3>
                </div>
            </a>
            </div>
        </div>

        <script>
            const form = document.getElementById('doc-select');
            const input = document.getElementById('docSelectInput');

            form.addEventListener('click', (e) => {
                const btn = e.target.closest('button[data-filename]');
                if (!btn) return;

                input.value = btn.dataset.filename;
                form.submit();
            });
        </script>
</body>
</html>